@charset "UTF-8";

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Alinea los elementos verticalmente */
    align-items: center;
    /* Centra los elementos horizontalmente */
}

.texto {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    /* Espacio entre el texto y los botones */
}

.titulo {
	font-weight: bold;
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #6f95ff;
    border-radius: 5px;
    padding-bottom: 5px;
}

.botones {
    display: flex;
    /* Alinea los botones horizontalmente */
    justify-content: center;
    /* Centra los botones horizontalmente */
    align-items: center;
    /* Centra los botones verticalmente */
}

.boton {
    height: 120px;
    width: 120px;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    /* Ajusta el espacio entre los botones */
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: .4s;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.boton.administrador {
    background-color: #5c65c0;
}

.boton.usuario {
    background-color: #5c65c0;
}

.boton i {
    font-size: 3em;
}

.boton:hover {
    opacity: .9;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

section {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1c0b2b;
    background-position: center;
    background-size: cover;
}

.contenedor {
    position: relative;
    width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del navbar */
.navbar {
    background-color: #015ec6;
    /* Color de fondo azul */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    /* Para que los elementos dentro del navbar se alineen en una fila */
    align-items: center;
    /* Para centrar verticalmente los elementos */
}

.navbar-logo {
    width: 142px;
    height: 40px;
    background-image: url('LogoGOV.CO.jpg');
    /* Ruta de la imagen del logo */
    background-size: contain;
    /* Ajusta el tamaño de la imagen para que quepa dentro del contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    margin-left: 20px;
    /* Espacio entre la imagen y los elementos de la lista */
}


/* Estilos de la lista de elementos del navbar */
.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 120px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}